source https://www.datasciencemadesimple.com/group-by-count-in-pandas-dataframe-python-2/

In [1]:
import pandas as pd
import numpy as np

data = {'Product':['Box','Bottles','Pen','Markers','Bottles','Pen','Markers','Bottles','Box','Markers','Markers','Pen'],
       'State':['Alaska','California','Texas','North Carolina','California','Texas','Alaska','Texas','North Carolina','Alaska','California','Texas'],
       'Sales':[14,24,31,12,13,7,9,31,18,16,18,14]}

df1=pd.DataFrame(data, columns=['Product','State','Sales'])

df1

    Product           State  Sales
0       Box          Alaska     14
1   Bottles      California     24
2       Pen           Texas     31
3   Markers  North Carolina     12
4   Bottles      California     13
5       Pen           Texas      7
6   Markers          Alaska      9
7   Bottles           Texas     31
8       Box  North Carolina     18
9   Markers          Alaska     16
10  Markers      California     18
11      Pen           Texas     14

In [9]:
''' Groupby single column in pandas python'''

df1.groupby(['State']).count()

                Product  Sales
State
Alaska                3      3
California            3      3
North Carolina        2      2
Texas                 4      4

In [2]:
''' Groupby single column in pandas python'''

df1.groupby(['State'])['Sales'].count()

State
Alaska            3
California        3
North Carolina    2
Texas             4
Name: Sales, dtype: int64

In [8]:
''' Groupby single column in pandas python'''

df1.groupby(['Product'])['Sales'].count()

Product
Bottles    3
Box        2
Markers    4
Pen        3
Name: Sales, dtype: int64

In [10]:
''' Groupby single column in pandas python'''

df1.groupby(['Product'])['Sales'].sum()

Product
Bottles    68
Box        32
Markers    55
Pen        52
Name: Sales, dtype: int64

In [3]:
''' Groupby single column in pandas python using reset_index()'''

df1.groupby(['State'])['Sales'].count().reset_index()

            State  Sales
0          Alaska      3
1      California      3
2  North Carolina      2
3           Texas      4

In [4]:
''' Groupby multiple columns in pandas python'''

df1.groupby(['State','Product'])['Sales'].count()

State           Product
Alaska          Box        1
                Markers    2
California      Bottles    2
                Markers    1
North Carolina  Box        1
                Markers    1
Texas           Bottles    1
                Pen        3
Name: Sales, dtype: int64

In [5]:
''' Groupby multiple columns in pandas python using reset_index()'''

df1.groupby(['State','Product'])['Sales'].count().reset_index()

            State  Product  Sales
0          Alaska      Box      1
1          Alaska  Markers      2
2      California  Bottles      2
3      California  Markers      1
4  North Carolina      Box      1
5  North Carolina  Markers      1
6           Texas  Bottles      1
7           Texas      Pen      3

In [6]:
''' Groupby multiple columns in pandas python using agg()'''

df1.groupby(['State','Product'])['Sales'].agg('count').reset_index()

            State  Product  Sales
0          Alaska      Box      1
1          Alaska  Markers      2
2      California  Bottles      2
3      California  Markers      1
4  North Carolina      Box      1
5  North Carolina  Markers      1
6           Texas  Bottles      1
7           Texas      Pen      3

In [7]:
''' Groupby multiple columns in pandas python using pivot()'''

df1.groupby(['State','Product'],as_index = False).count().pivot('State','Product').fillna(0)

                 Sales
Product        Bottles  Box Markers  Pen
State
Alaska             0.0  1.0     2.0  0.0
California         2.0  0.0     1.0  0.0
North Carolina     0.0  1.0     1.0  0.0
Texas              1.0  0.0     0.0  3.0